#MenuItems a {
    color: black;
}

.single-product {
    margin-top: 80px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 16px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid crimson;
}

input:focus {
    outline: none;
}

.col-2 .btn {
    display: inline-block;
    background-color: crimson;
    color: white;
    padding: 8px 30px;
    margin: 15px 0;
    border-radius: 30px;
}

.col-2 h4 {
    color: crimson;
}

@media only screen and (max-width: 600px) {
    .single-product .row {
        text-align: left;
    }
    .single-product .col-2 {
        padding: 20px 0;
    }
    .single-product h1 {
        font-size: 24px;
        line-height: 22px;
    }
    #MenuItems a {
        color: white;
    }
}